<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Bipol Tracker</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../static/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="dashboard.html" class="navbar-brand">
        <img src="../static/img/logo.png" class="img-fluid" alt="logo" width="100" height="100" class="d-inline-block align-text-top">
      </a>

    </div><!-- End Logo -->


    <nav class="navbar-expand-lg header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="../static/img/person-fill.svg" alt="Profile" class="rounded-circle">
            <span class="ps-2">Driver</span>
          </a><!-- End Profile Iamge Icon -->


        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link" href="dashboardDriver.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="login.html">
          <i class="bi bi-person-fill"></i>
          <span>Log Out</span>
        </a>
      </li>
    </ul>
  </aside>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
        
    <section class="section dashboard">
      <div class="row">
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Dashboard<span> | Today</span></h5>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active btn-sm">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Aktif
                </label>
                <label class="btn btn-primary btn-sm">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Tidak Aktif
                </label>
              </div>

              <!-- Area Chart -->
          <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><center><button type="button" class="btn btn-outline-primary w-100 btn-lg btn-block " disabled>Posisi</button></center></th>
                                <th scope="col"><center><button type="button" class="btn btn-outline-primary w-100 btn-lg btn-block" disabled>Tingkat Keramaian</button></center></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="{{url_for('orang_tua_bp.update_orang_tua',kd_ortu=item[0])}}">
                                  <center><button type="button" class="btn btn-primary w-25 btn-lg btn-block">Halte UI</button>
                                    </a></td>
                                <td>
                                    <a href="{{url_for('orang_tua_bp.delete_orang_tua', kd_ortu=item[0])}}">
                                     <center> <button type="button" class="btn btn-success w-25 btn-lg btn-block">Kosong</button></center>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                              <td><a href="{{url_for('orang_tua_bp.update_orang_tua',kd_ortu=item[0])}}">
                              <center><button type="button" class="btn btn-primary w-25 btn-lg btn-block">Halte UI</button></center>
                                  </a></td>
                             </tr>

                             <tr>
                              <td><a href="{{url_for('orang_tua_bp.update_orang_tua',kd_ortu=item[0])}}">
                              <center><button type="button" class="btn btn-primary w-25 btn-lg btn-block">Halte UI</button></center>
                                  </a></td>
                              <td>
                                  <a href="{{url_for('orang_tua_bp.delete_orang_tua', kd_ortu=item[0])}}">
                                  <center><button type="button" class="btn btn-warning w-25 btn-lg btn-block">Tersedia</button></center>
                                  </a>
                              </td>
                             </tr>
                            
                             <tr>
                              <td><a href="{{url_for('orang_tua_bp.update_orang_tua',kd_ortu=item[0])}}">
                              <center><button type="button" class="btn btn-primary w-25 btn-lg btn-block">Halte UI</button></center>
                                  </a></td>
                             
                             </tr>
                             <tr>
                              <td><a href="{{url_for('orang_tua_bp.update_orang_tua',kd_ortu=item[0])}}">
                              <center><button type="button" class="btn btn-primary w-25 btn-lg btn-block">Halte UI</button></center>
                                  </a></td>
                              <td>
                                  <a href="{{url_for('orang_tua_bp.delete_orang_tua', kd_ortu=item[0])}}">
                                  <center><button type="button" class="btn btn-danger w-25 btn-lg btn-block">Penuh</button></center>
                                  </a>
                              </td>
                             </tr>
                             <tr>
                              <td><a href="{{url_for('orang_tua_bp.update_orang_tua',kd_ortu=item[0])}}">
                              <center><button type="button" class="btn btn-primary w-25 btn-lg btn-block">Halte UI</button></center>
                                  </a></td> 
                             </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
              <div id="BipolDashboard" style="min-height: 600px"></div>

            </div>
          </div>
        
    </section>
  </main>
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>deroock</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.instagram.com/firdausderoock/">de Roock</a>
    </div>
  </footer>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{{url_for('static', filename='../static/js/apexcharts.min.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/chart.min.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/echarts.min.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/quill.min.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/simple-datatables.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/tinymce.min.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/validate.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/main.js')}}"></script>
</body>
</html>