<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Bipol Tracker</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{url_for('dashboard')}}" class="navbar-brand">
        <img src="{{url_for('static', filename='img/logo.png')}}" class="img-fluid" alt="logo" width="100" height="100" class="d-inline-block align-text-top">
      </a>

    </div><!-- End Logo -->


    <nav class="navbar-expand-lg header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{url_for('static', filename='img/person-fill.svg')}}" alt="Profile" class="rounded-circle">
          <span class="ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->


        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('jadwalRead')}}">
          <i class="bi bi-grid"></i>
          <span>Database Jadwal</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" href="{{url_for('posisiRead')}}">
            <i class="bi bi-grid"></i>
            <span>Database Posisi</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{{url_for('bipolRead')}}">
            <i class="bi bi-grid"></i>
            <span>Database Bipol</span>
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link collapsed " href="{{url_for('driverRead')}}">
          <i class="bi bi-grid"></i>
          <span>Database Driver</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed " href="{{url_for('index')}}">
          <i class="bi bi-grid"></i>
          <span>My Website</span>
        </a>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('login')}}">
          <i class="bi bi-key"></i>
          <span>Log Out</span>
        </a>
      </li>
    </ul>
  </aside>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Database Driver</h5>

                <!-- Default Table -->
                <table class="table table-hover text-nowrap" style="text-align: left;">
                  <thead> 
                    <a href="{{url_for('driverInsert')}}" class="btn btn-primary">Add</a>
                    <br></br>                
                    <tr>
                      <th scope="col">Nama</th>
                      <th scope="col">Username</th>
                      <th scope="col">Pasword</th>
                      <th scope="col">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data %}
                    <tr>
                      <th scope="row"><a href="{{ item }}" class="text-dark">{{ item.nama }}</a></th>
                      <td><a href="{{ item }}" class="text-dark">{{ item.username }}</a></td>
                      <td><a href="{{ item }}" class="text-dark">{{ item.password }}</a></td>
                      <td>
                        <a class="btn btn-warning" href="driverEdit/{{ item.id_driver }}">Edit</a>
                        <a class="btn btn-danger" href="driverDelete/{{ item.id_driver }}">Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- End Default Table Example -->
              </div>
            </div>
      </section>
  </main>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{{url_for('static', filename='js/apexcharts.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/chart.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/quill.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/simple-datatables.js')}}"></script>
  <script src="{{url_for('static', filename='js/tinymce.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/validate.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>